@page "/"
@using Models
@inject HttpClient Http

<link rel="stylesheet" type="text/css" href="../css/index.css">

<br />


<p>
    <h1>Movies</h1>
    Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience
</p>
<!--BSCarousel NumberOfItems="@items.Count">
    <div class="carousel-inner">
        @for (int i = 0; i < items.Count; i++)
        {
            <BSCarouselItem src="@items[i].Source" alt="@items[i].Alt" style=" width:700px;
                                height:300px"></BSCarouselItem>

        }
    </div>
</!BSCarousel-->
@if (_movies.Any())
{
    <div class="card" style="width: 18rem;">
        @foreach (var movie in _movies)
        {
            <div class="movie-el">
                <div class="card-body">
                    <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
                    <h5 class="movie-title">@movie.Title</h5>
                    <p class="movie-info">
                        <strong>Description: </strong> @movie.Description
                    </p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No Movies Found</p>
}


<!--div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</!-div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<h2>Action Movies</h2>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<h2>Romantic Movie</h2>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div-->



@functions {

    private List<Movie> _movies = new List<Movie>();

    protected override async Task OnInitializedAsync() => await GetMovies();

    private async Task GetMovies() => _movies = await Http.GetFromJsonAsync<List<Movie>>("https://localhost:44386/");
}

